---
title: Photo Gallery
eleventyNavigation:
  key: Gallery
  order: 2
layout: main.njk
permalink: "/gallery/"
meta_desc: A collection of images from Ronak Jethwa's gallery.
img: /images/41.jpeg
alt: Above the fog on Mount Tamalpais, California
cardType: summary_large_image
meta_keywords: A collection of photography, gallery, Ronak Jethwa
meta_robots: index, follow
---

<h1 class="ft-h1">{{ title }}</h1>

{% include "feature-gallery.njk" %}