<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        {% set metaTitle = title %}
        {% set metaDesc = meta_desc %}
        {% set metaUrl = site.url + page.url %}
        {% set metaImage = site.url + img %}
        {% set metaImageAlt = alt %}
        {% set metaCard = cardType %}
        {% set metaKeywords = meta_keywords | default("photography, gallery, images, Ronak Jethwa") %}
        {% set metaRobots = meta_robots %}
        {% include "layouts/meta.njk" %}
        <!-- Removed preload for apple-touch-icon.png as it is not used immediately -->
        <!-- Removed preload for favicon-32x32.png as it is not used immediately -->
        <!-- Removed preload for style.css as it is already included in the <style> tag -->
        {% set css %}
            {% include "css/style.css" %}
            {% include "css/reset.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>
    </head>
    <body role="document">
        <a href="#main" class="skip-link">Skip to main content</a>
        {% include "layouts/nav.njk" %}

        {{ content | safe }}

        {% include "layouts/footer.njk" %}
    </body>
</html>