<header class="top-nav">
    <div class="intro">
        <div>
            <a class="home-button" href="/">{{ site.author.firstName }} {{ site.author.lastName }}</a>
            <p class="home-about">{{ site.author.about }}</p>
        </div>
        <div class="intro-links">
            <a class="nav-link" href="/gallery/">Gallery</a>
            <a class="about-me" href="/about/">About</a>
        </div>
    </div>
</header>
