header {

    .intro {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 2rem auto 0 auto;
        max-width: 1100px;
        padding: 0 1.5rem 1.25rem 1.5rem;
        border-bottom: 1px solid lightgray;

        div {
            p {
                color: #333;
            }
            &:first-child {
                margin-right: 2rem;
            }
        }

        .home-button {
            display: block;
            font-size: 28px;
            font-size: clamp(26px, 4vw, 28px);
            color: #222;
            margin-bottom: 14px;
        }

        .intro-links {
            display: flex;
            align-items: center;
            gap: 1.25rem;
            height: fit-content;
            height: -moz-fit-content;
        }

        .nav-link {
            color: #212121;
            text-decoration: none;
            white-space: nowrap;
            font-size: clamp(1.0625rem, 4vw, 1.2rem);

            &:hover {
                text-decoration: underline;
            }
        }

        .about-me {
            border: 1px solid #111;
            padding: .5rem 1rem;
            text-decoration: none;
            height: fit-content;
            height: -moz-fit-content;
            border-radius: 0.5rem;
            background: #1e262b;
            color: #fff;
            font-weight: 400;
            white-space: nowrap;

            &:hover {
                background: #1a1f24;
            }
        }
    }
}