---
eleventyNavigation:
  key: Home
  order: 1
layout: main.njk
title: Ronak Jethwa's Photo Gallery
meta_desc: Ronak Jethwa's Photo Gallery
img: /images/01.jpeg
alt: Sunset at the Eiffel Tower, Paris
cardType: summary_large_image
---

<h1 class="sr-only">{{ title }}</h1>

{% include "home-gallery.njk" %}